*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

.loading-screen {
  /* height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center; */

  height: 300px;
  overflow-y: scroll;
  scroll-timeline-name: --squareTimeline;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.spinner {

  /* border-radius: 50%;
  border-left: transparent;
  height:600px;
  width: 1000px;
  animation: spin 1s linear infinite; */

  width: 100px;
  height: 100px;
  margin-top: 100px;
  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: --squareTimeline;

  position: absolute;
  bottom: 0

}

/*@keyframes spin {
  from{
    transform: rotate(0deg); /* 0 graus para  360 graus*//*
  }
  to {
    transform: rotate(360deg);
  }
}*/


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#stretcher {
  height: 600px;
}



